.container {
  border-collapse: collapse;

  & tr {
    border-bottom: 1px solid black;
  }

  & td,
  & th {
    border-right: 1px solid black;

    & input {
      border: none;
      width: 100px;
    }
  }

  & tr td:first-child {
    text-align: center;
    text-transform: capitalize;

    & input {
      color: black;
      text-align: left;
    }
  }
}

.field {
  background-color: var(--row);
  border: 2px solid black;
  font-weight: bold;
  padding: 5px;
  text-align: center;

  &[type='number'] {
    -moz-appearance: textfield;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &:focus {
    outline: 4px solid blue;
  }
}

@media screen and (width < 850px) {
  .container {
    font-size: 12px;

    & td input {
      width: 60px;
    }
  }

  .field {
    font-size: 12px;
  }
}

@media screen and (width < 550px) {
  .container {
    font-size: 10px;

    & td input {
      width: 40px;
    }
  }

  .field {
    font-size: 10px;
  }
}
