.container {
  border-collapse: collapse;
  min-width: 400px;
  width: 100%;

  & tr td:first-child {
    width: 60%;

    & input {
      color: black;
      text-align: left;
    }
  }

  & thead {
    background-color: white;
    position: sticky;
    top: 0;
  }
}

.field {
  background-color: var(--row);
  border: 2px solid black;
  color: var(--mark-success);
  font-weight: bold;
  padding: 5px;
  text-align: center;
  width: 100%;

  &[type='number'] {
    -moz-appearance: textfield;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &:focus {
    outline: 4px solid blue;
  }
}

.fieldError {
  color: var(--mark-fail);
}

.rowSelected {
  background-color: var(--row-selected);
}

.actionButtonsCol {
  display: flex;
  gap: 5px;
  padding: 4px;

  & button {
    display: flex;
    align-items: center;
  }
}

@media screen and (width < 850px) {
  .container {
    font-size: 12px;
  }
}

@media screen and (width < 550px) {
  .field {
    padding: 8px;
  }
}
