.container {
  display: flex;
  align-items: flex-start;
  position: absolute;
  min-height: 1.5%;

  & div {
    border-style: solid;
    border-width: 5px 5px 5px 0;
    margin-top: 5px;
    width: 0;
    height: 0;
  }

  & span {
    border-radius: 5px;
    user-select: none;
    font-size: 12px;
    font-weight: bold;
    overflow: hidden;
    padding: 3px 5px;
    text-transform: capitalize;
    text-wrap: nowrap;
    width: 100%;
  }
}

.tagReading {
  & div {
    border-color: transparent var(--tag-reading) transparent transparent;
  }

  & span {
    background-color: var(--tag-reading);
  }
}

.tagUseOfEnglish {
  & div {
    border-color: transparent var(--tag-use-of-english) transparent transparent;
  }

  & span {
    background-color: var(--tag-use-of-english);
  }
}

.tagWriting {
  & div {
    border-color: transparent var(--tag-writing) transparent transparent;
  }

  & span {
    background-color: var(--tag-writing);
  }
}

.tagListening {
  & div {
    border-color: transparent var(--tag-listening) transparent transparent;
  }

  & span {
    background-color: var(--tag-listening);
  }
}

.tagSpeaking {
  & div {
    border-color: transparent var(--tag-speaking) transparent transparent;
  }

  & span {
    background-color: var(--tag-speaking);
  }
}
