.container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}

.scaleContainer {
  display: flex;
  width: 70%;
}

.categoriesContainer {
  display: flex;
  flex-direction: column;
  min-width: 40px;
  width: 10%;

  & div {
    height: 26.5%;
  }

  & div:first-child {
    height: 33.4%;
  }

  & div:last-child {
    height: 13.6%;
  }
}

.category {
  background-color: rgba(242 241 240 / 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  padding-top: 5px;

  & span {
    transform: rotateZ(-90deg);
  }
}

.categoryInitial {
  background-image: linear-gradient(
    to top,
    var(--color-level-A0),
    var(--color-level-A0),
    var(--color-level-A1)
  );
}

.categoryBasic {
  background-image: linear-gradient(
    to top,
    var(--color-level-A1),
    var(--color-level-A1),
    var(--color-level-A2),
    var(--color-level-A2),
    var(--color-level-B1)
  );
}

.categoryIndependent {
  background-image: linear-gradient(
    to top,
    var(--color-level-B1),
    var(--color-level-B1),
    var(--color-level-B2),
    var(--color-level-B2),
    var(--color-level-C1)
  );
}

.categoryProficient {
  background-image: linear-gradient(
    to top,
    var(--color-level-C1),
    var(--color-level-C2),
    var(--color-level-C2)
  );
}

.categorySelected {
  border: 7px solid red;
}

.levelsContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 45%;
  height: 100%;

  /* stylelint-disable-next-line no-descending-specificity */
  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 93.2%;
  }
}

.levelsHorizontalLine {
  background-color: rgba(194 193 192 / 100%);
  width: 100%;
  height: 5px;
}

.level {
  background-color: rgba(242 241 240 / 100%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  width: 50px;
  height: 50px;
  z-index: 1;
}

.levelA0 {
  background-color: var(--color-level-A0);
}

.levelA1 {
  background-color: var(--color-level-A1);
}

.levelA2 {
  background-color: var(--color-level-A2);
}

.levelB1 {
  background-color: var(--color-level-B1);
}

.levelB2 {
  background-color: var(--color-level-B2);
}

.levelC1 {
  background-color: var(--color-level-C1);
}

.levelC2 {
  background-color: var(--color-level-C2);
}

.levelSelected {
  border: 7px solid red;
}

.marksContainer {
  background-color: rgba(242 241 240 / 100%);
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  justify-content: space-around;
  min-width: 100px;
  width: 45%;
  height: 100%;
}

.mark {
  background: rgba(194 193 192 / 100%);
  height: 0.3%;

  & span {
    font-size: 15px;
    font-weight: bold;
  }
}

.markSmall {
  width: 20%;
}

.markMedium {
  width: 45%;
}

.markLarge {
  width: 90%;
}

.labelsContainer {
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  position: relative;
  width: 30%;
}

.finalLabel {
  border-top: 3px solid red;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin-left: 40px;
  position: absolute;
  width: 90%;
  height: 0;

  & > span {
    font-size: 16px;
    font-weight: bold;
    z-index: 2;
  }
}

@media screen and (width < 850px) {
  .scaleContainer {
    width: 65%;
  }

  .level {
    font-size: 14px;
    width: 35px;
    height: 35px;
  }

  .marksContainer {
    min-width: 80px;
  }

  .labelsContainer {
    width: 35%;
  }
}

@media screen and (width < 550px) {
  .category {
    font-size: 10px;
    width: 35px;
  }

  .mark {
    display: flex;
    height: 0.5%;

    & span {
      font-size: 10px;
      margin-top: 2px;
    }
  }

  .markSmall {
    opacity: 0;
  }
}
